.image {

    background-image: url('https://i.imgur.com/tEm9uYV.png');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card {
    border-radius: 0px;
}


#logo {
    position:relative;
    bottom: 0px;
    text-align: center;
    color:darkorange;
    text-shadow: 3px 3px 6px rgb(44, 1, 1);
    font-family: 'Old Standard TT', serif;
}

@media (max-width: 575.98px) {
    .image {
        position:relative;
        top: 0px;
    }
}



#subHeading {
    font-size: calc(1.1rem + 1vw);
    font-family: 'Shadows Into Light', cursive;
}


